<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container container-fluid">
    <a class="navbar-brand" href="/">Happy Parcels</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/parcels">Show me the parcels</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/parcels/new">Register a new parcel</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container container-fluid">


  <p class="welcome">Welcome to <span>{{ title }}</span></p>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>

