<div class="add-parcel-form container ">
  <div class="alert alert-success" *ngIf="savedParcelSKU" role="alert">
    Parcel {{'{SKU='}}{{savedParcelSKU}}{{'}'}} registered 🙌! Go have look 👀 in <a class="link-success"
                                                                                         routerLink="/parcels">Show me
    the parcels</a>
  </div>
  <div class="alert alert-danger" *ngIf="(submitted && this.form.invalid)" role="alert">
    🙈Parcel registration failed! Check below👇.
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container form-group">
      <label>SKU</label>
      <input
        type="text"
        formControlName="sku"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['sku'].errors }"
      />
      <div *ngIf="submitted && f['sku'].errors" class="invalid-feedback">
        <div *ngIf="f['sku'].errors?.['required']">SKU is required</div>
      </div>
    </div>

    <div class="container form-group">
      <label>Description</label>
      <input
        type="text"
        formControlName="description"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
      />
      <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
        <div *ngIf="f['description'].errors?.['required']">Description is required</div>
        <div *ngIf="f['description'].errors?.['maxlength']">
          Description must not exceed 120 characters
        </div>
      </div>
    </div>

    <div class="container form-group">
      <label>Street Address</label>
      <input
        type="text"
        formControlName="streetAddress"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['street'].errors }"
      />
      <div *ngIf="submitted && f['streetAddress'].errors" class="invalid-feedback">
        <div *ngIf="f['streetAddress'].errors?.['required']">Street is required</div>
      </div>
    </div>

    <div class="container form-group">
      <label>Town</label>
      <input
        type="text"
        formControlName="town"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['town'].errors }"
      />
      <div *ngIf="submitted && f['town'].errors" class="invalid-feedback">
        <div *ngIf="f['town'].errors?.['required']">Password is required</div>
      </div>
    </div>

    <div class="container form-group">
      <label>Country</label>
      <input
        type="text"
        formControlName="country"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['country'].errors }"
      />
      <div
        *ngIf="submitted && f['country'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['country'].errors?.['required']">
          Country is required
        </div>
      </div>
    </div>


    <div class="container form-group">
      <label>Delivery Date</label>
      <input
        type="datetime-local"
        formControlName="deliveryDate"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['deliveryDate'].errors }"
      />
      <div
        *ngIf="submitted && f['deliveryDate'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['deliveryDate'].errors?.['required']">
          Delivery Date is required
        </div>
      </div>
    </div>

    <div class="container form-group d-flex flex-row justify-content-around">
      <button type="submit" class="btn btn-primary">Register parcel</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-warning float-right"
      >
        Reset
      </button>
    </div>
  </form>
</div>
