<div class="container d-flex flex-column">
  <p>Welcome to our little Happy parcels frontend app</p>
  <p>The main purpose of this app is to showcase multiple techs: </p>
  <ul>
    <li>Angular structured following Hexagonal Architecture</li>
    <li>NestJS backend following Hexagonal Architecture with a taste of CQRS</li>
    <li>Docker</li>
  </ul>
  <p>To get started go have look at the navbar ☝😁</p>
</div>
