<div class="container d-flex flex-row justify-content-around">
  <div class=" container p-2">
    <label for="description-search">Parcel Search by description</label>
    <input #descriptionFilter id="description-search" (input)="onDescriptionEnter(descriptionFilter.value)"/>
  </div>
  <div class="container p-2">
    <label for="country-filter">Parcel Search by country</label>
    <select id="country-filter" class="form-control" #countries
            (change)="onCountrySelect()">
      <option value="">Pick a Country</option>
      <option *ngFor="let country of parcelCountries">{{country}}</option>
    </select>
  </div>
</div>
<table id="parcel-list" class="container table">
  <thead>
  <tr>
    <th scope="col">SKU</th>
    <th scope="col">Description</th>
    <th scope="col">Country</th>
    <th scope="col">Date of Delivery</th>
    <th scope="col">Parcel registered</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let parcel of parcels">
    <td>{{parcel.sku}}</td>
    <td>{{parcel.description}}</td>
    <td>{{parcel.country}}</td>
    <td>{{parcel.deliveryAt | date:'fullDate'}}</td>
    <td>{{parcel.registeredAt | date:'fullDate'}}</td>
  </tr>
  </tbody>
</table>
